:root {
    --primary-lightest: #fff7cc;
    --primary-light: #ffe066;
    --primary: #ffbb00;
    --primary-dark: #cc9600;
    
    --accent-lightest: #e6f7ff;
    --accent-light: #99e0ff;
    --accent: #00c4ff;
    --accent-dark: #0090cc;

    --neutral-100: #ffffff;
    --neutral-200: #f7f7f7;
    --neutral-300: #eeeeee;
    --neutral-400: #dddddd;
    --neutral-500: #bbbbbb;
    --neutral-600: #999999;
    --neutral-700: #666666;
    --neutral-800: #333333;
    --neutral-900: #111111;

    --success: #4caf50;
    --warning: #ffc107;
    --error: #e53935;
    --info: #2196f3;
}

Slider, SliderInt {
    flex-grow: 1;
    min-width: 100px;
}

Button {
    background-color: var(--accent-lightest);
    border-radius: 10px;
    transition: background-color 0.3s;
}
Button:hover {
    background-color: var(--accent-light);
}
Button:active {
    background-color: var(--accent);
}

.h1 {
    font-size: 36px;
}

.h2 {
    font-size: 24px;
}

.h3 {
    font-size: 20px;
}

.row {
    flex-direction: row;
    flex-shrink: 0;
}

.flex-grow {
    flex-grow: 1;
}

/* Extended Slider Styling */
.extended-slider__filler {
    position: absolute;
    height: 6px;
    top: 50%;
    margin-top: -3px;
    background-color: var(--accent);
}

.extended-slider__value {
    position: absolute;
    top: 25%;
    padding: 0;
    margin: 0;
}

.extended-slider__low, .extended-slider__high {
    min-width: 30px;
    -unity-text-align: middle-center;
}

.extended-slider .unity-base-slider__dragger {
    min-width: 30px;
    padding-left: 5px;
    padding-right: 5px;
}